<template>
    <div class="q-pa-md full-width">
      <q-input class="q-mg-1" label="Search" v-model="search" />
      <movie-card
        v-for="movie in filteredMovies" 
        :key="movie.id" 
        :movie="movie"/>
        
        <q-page-sticky position="bottom-right" :offset="[18, 18]">
        <q-btn fab icon="add" :to="'movies'" color="accent" />
      </q-page-sticky>
    </div>
</template>

<script lang="ts" setup>
import { computed, onMounted, ref } from 'vue';
import { useActionBarStore } from '../stores/action-bar-store';
import { movieRef } from '../stores/movie-store';
import MovieCard from 'src/components/MovieCard.vue';
import { Movie } from 'src/schemas/movie';
import { StorageSchema } from 'src/services/local-storage';
const actionBarStore = useActionBarStore();
const { movies } = movieRef();
const search = ref<string>('');
const filteredMovies = computed(() => {
  if(!search.value) return movies.value;
  return Object.keys(movies.value).reduce(
    (acc, key) => {
      const m = movies.value[key]
      if(m.title.toLowerCase().includes(search.value.toLowerCase())) {
        acc[m.id] = m;
      }
      return acc;
    }, {} as Record<number, StorageSchema<Movie>> );
})
onMounted(() => {
  actionBarStore.setActions && actionBarStore.setActions([])
})

</script>
