<template>
    <q-page class="row justify-evenly">
      <div class="q-pa-md full-width">
          <q-input v-model="title" class="full-width" label="Title" />
          <q-input v-model="director" class="full-width" label="Director" />
          <q-input v-model="summary" 
          type="textarea"
          class="full-width" label="Summary" />
          <q-input v-model="posterUrl" type="url" class="full-width" label="poster" />
          
          <q-chip 
            v-for="genre, index in genres" 
            :key="index"
            @click="() => onGenreClick(genre)"
            :selected="!!selectedGenres.find((g => g === genre))" >
            {{ genre  }}
          </q-chip>
      </div>
    </q-page>  
</template>

<script lang="ts" setup>
  import { onMounted, ref } from 'vue';
  import { genres as genreList } from '../schemas/genre';
  import { Movie } from '../schemas/movie';
  import { useActionBarStore, ActionBar } from '../stores/action-bar-store';
  import { useMovieStore } from '../stores/movie-store';
  import { useRoute, useRouter } from 'vue-router'
  import { useQuasar } from 'quasar';
  
  const $q = useQuasar()

  const title = ref<string>('');
  const posterUrl = ref<string>('');
  const director = ref<string>('');
  const summary = ref<string>('');
  const isEdit = ref<boolean>(false);
  const selectedGenres = ref<string[]>([]);
  const genres = ref<string[]>(genreList);
  const actionBarStore = useActionBarStore();
  const route = useRoute()
  const router = useRouter()
  const movieStore = useMovieStore();
  
  const validate = () => {
    const error: string[] = [];
    if(!title.value) error.push('Title is required');
    if(!director.value) error.push('Director is required');
    if(!summary.value) error.push('Summary is required');
    if(posterUrl.value && !posterUrl.value.startsWith('http')) error.push('Poster URL must be a valid URL');
    if(error.length) {
      $q.notify({
        message: error.join(', '),
        type: 'negative'
      })
      return false;
    }
    return true;
  }

  const onSaveClick = () => {
    if(!validate()) return;
    const movieData: Movie = {
      title: title.value,
      director: director.value,
      summary: summary.value,
      genres: selectedGenres.value,
      posterUrl: posterUrl.value
    }
    if(!isEdit.value)
      movieStore.add(movieData);
    else 
      movieStore.update(route.params.id, movieData);
    router.push('/');
  }
  const onDeleteClick = () => {
    const d = $q.dialog({
      cancel: true,
      ok: true,
      title: 'Are you sure?',
    })
    d.onOk(() => {
      movieStore.delete(route.params.id);
      router.push('/');
    })
  }

  const getData = () => {
    const movie = movieStore.movies[route.params.id];
    if(!movie) router.push('/not-found');
    isEdit.value = true;
    title.value = movie.title;
    director.value = movie.director;
    summary.value = movie.summary;
    selectedGenres.value = movie.genres;
    posterUrl.value = movie.posterUrl;
  }
  onMounted(() => {
    const actions = [
    {
      click: onSaveClick,
      icon: 'save',
      label: 'Save'
    }
    ] as ActionBar[]

    if(route.params.id) {
      getData()
      actions.push({
        click: onDeleteClick,
        icon: 'delete',
        label: 'Delete'
      })
    }
    actionBarStore.setActions(actions);

  })
  const onGenreClick = (genre: string) => {
    if (selectedGenres.value.find((g => g === genre))) {
      selectedGenres.value = selectedGenres.value.filter((g => g !== genre));
    } else {
      selectedGenres.value.push(genre);
    }
  };

</script>