<template>
    <div class="padding-container full-width">
        <router-link :to="`/movies/${movie.id}`">

            <q-card class="my-card full-width">
                <img :src="movie.posterUrl || defaultMovieImage"  :alt="movie.title">

                <q-card-section>
                    <div class="text-h6">{{ movie.title }}</div>
                    <div class="text-subtitle2">by {{ movie.director }}</div>
                    <div>{{ movie.genres.join('/') }}</div>    
                </q-card-section>

                <q-card-section class="q-pt-none">
                    {{ movie.summary }}
                </q-card-section>
            </q-card>
        </router-link>

    </div>
</template>
<script lang="ts">
import { defineComponent } from 'vue';
import { Movie } from '../schemas/movie';
import defaultMovieImage from '../assets/movie_default.svg';
import { StorageSchema } from 'src/services/local-storage';

export default defineComponent({
    name: 'MovieCard',
    props: {
        movie: {
            type: Object as () => StorageSchema<Movie>,
            required: true
        },
    },
    setup() {
        return {
            defaultMovieImage
        }
    }
})
</script>