<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar>

        <q-toolbar-title>
          Movie Collection
        </q-toolbar-title>
        <q-btn 
          v-for="action in actions" 
          :key="action.label" 
          flat round dense 
          @click="action.click"
          :icon="action.icon" 
          class="q-mr-xs" />
        </q-toolbar>
    </q-header>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue';

import { actionBarRef, ActionBar } from '../stores/action-bar-store';

export default defineComponent({
  name: 'MainLayout',

  components: {
  },

  setup () {


    const actionBarStore = actionBarRef();
    return {      
      actions: actionBarStore.actions as ActionBar[]

    }
  }
});
</script>
